

.vs-carousel-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically in the center */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}
