.spa a {
    cursor: pointer;
   line-height: 2.0; /* Adjust the value to set the desired space between lines */

}
.salon a{
    cursor: pointer;
   line-height: 2.0; /* Adjust the value to set the desired space between lines */
}
.salon a{
    cursor: pointer;
}
.Service {
    display: flex;
}
.Service div {
    margin-right: 10px; /* Adjust the value to set the desired space */
    padding: 10px;
}
