.backGround{
    width: 1263px;
    display: flex;
    position: absolute;
    z-index: 1;
}
 .lotus {
    position: absolute;
    z-index: 2;
    height: 500px;
    width: 500px;
    margin-left: 750px;
    margin-top: 116px;
  }